
#notebook
**/*.csv

#frontend
/web_app/frontend/node_modules/

#backend
/web_app/backend/__pycache__/
/web_app/backend/auth/__pycache__/
/web_app/backend/config/__pycache__/
/web_app/backend/database/__pycache__/
/web_app/backend/models/__pycache__/
/web_app/backend/routes/__pycache__/
/web_app/backend/venv
/web_app/backend/.env.dev




