@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* || UTILITY CLASSES */
.errmsg {
  color: firebrick;
  font-weight: 700;
}

/* || GENERAL STYLES */

h1 {
  color: white;
}

body {
  font: 1.5rem 'Nunito', sans-serif;;
  min-height: 100vh;
  background-color: #0F172A;
  color: #fff;
}

input, button {
  font: inherit;
}

a, a:visited {
  color: whitesmoke;
}

a:hover, a:focus {
  color: rgba(245, 245, 245, 0.9);
}
